.img_banner_servico {
    width: 100%;
    padding: 1em 0 3em;
}

.banner_servico {
    text-align: center;
    background-color: #3d4290;
}

.titulo_paginaServico {
    color: var(--corPrincipal);
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0.5em;
    font-family: 'Poppins', sans-serif;
}

.texto_paginaServico {
    color: #ededd8;
    padding: 0 2em 1em;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
}

@media screen and (min-width: 820px) {
    .titulo_paginaServico {
        padding: 1em 3em;
    }
    .texto_paginaServico {
        padding: 0 6em 2em;
        font-size: 18px;
        margin-bottom: 2em;
    }
}