.img_banner_hydra {
    width: 100%;
}

.artigo_hydra {
    text-align: start;
    padding: 2em;
}

.hydra_titulo {
    font-size: 30px;
    font-weight: 700;
    color: var(--corTextoPrincipal);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1em;
}

.texto_hydra {
    line-height: 20px;
    font-size: 18px;
    color: var(--corTextoPrincipal);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2em;
}

.carrosel_servicos {
    margin-bottom: 3em;
}

@media screen and (min-width: 1500px) {
    .hydra_titulo {
        font-size: 50px;
        padding: 0 3.5em;
    }
    .texto_hydra {
        font-size: 30px;
        line-height: 30px;
        padding: 0em 6em;
    }
}