    .video {
        display: none;
    }
    
    .contato_conteiner {
        align-items: center;
    }
    
    .contato {
        display: flex;
        padding: 4em;
        margin-bottom: 3em;
        justify-content: space-around;
    }
    
    .formulario {
        display: flex;
        flex-direction: column;
    }
    
    .contato_texto {
        font-size: 16px;
        margin: 1em 0;
        color: var(--corTextoPrincipal);
        font-family: 'Poppins', sans-serif;
    }
    
    .contato_titulo {
        color: var(--corTextoPrincipal);
        font-size: 30px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }
    
    form input,
    textarea {
        width: 100%;
        margin-bottom: 1em;
        padding: 1em;
        border: none;
        border-radius: 15px;
        font-family: 'Poppins', sans-serif;
    }
    
    form input::placeholder {
        font-size: 16px;
        color: #4d5795;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
    }
    
    form textarea::placeholder {
        font-size: 20px;
        color: #4d5795;
        font-weight: 400;
    }
    
    textarea {
        resize: none;
    }
    
    .contato_botao {
        padding: 1em 3em;
        border: none;
        border-radius: 5px 5px 15px 5px;
        background: var(--corTextoPrincipal);
        color: var(--corPrincipal);
        align-items: baseline;
        font-weight: 700;
        cursor: pointer;
        margin: 0 auto;
        font-family: 'Poppins', sans-serif;
    }
    
    @media screen and (min-width: 820px) {
        .video {
            display: block;
            width: 300px;
            height: 450px;
        }
        .contato {
            gap: 4em;
        }
    }
    
    @media screen and (min-width: 1500px) {
        .form_contato {
            width: 50%;
        }
    }