.final_pagina {
    background: var(--corFundoSecudaria);
    padding: 1em;
    align-items: center;
    text-align: center;
}

.rodape_texto,
.rodape_texto_tablet,
.rodape_texto_mobile {
    color: var(--corTextoPrincipal);
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.rodape_texto_tablet,
.rodape_texto {
    display: none;
}

@media screen and (min-width: 820px) {
    .rodape_texto_tablet {
        display: block;
    }
    .rodape_texto_mobile {
        display: none;
    }
}

@media screen and (min-width: 1500px) {
    .rodape_texto_mobile,
    .rodape_texto_tablet {
        display: none;
    }
    .rodape_texto {
        display: block;
    }
}