.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer_titulo {
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #858585;
    list-style-type: none;
    margin-bottom: 1em;
}

.conteiner-footer {
    padding: 3em 0;
}

.footer_link img {
    width: 20px;
}

.footer_link_footer {
    color: var(--corTextoPrincipal);
    text-decoration: none;
    margin-left: 0.7em;
}

.footer_link {
    display: flex;
    align-items: center;
    margin: 0.6em 0;
}

.footer_conteiner2 {
    display: none;
}

.footer_conteiner1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer_nossaPagina,
.footer_negocios {
    display: none;
}

@media screen and (min-width: 820px) {
    .footer_nossaPagina,
    .footer_negocios {
        display: block;
    }
}

@media screen and (min-width: 1500px) {
    .footer_link {
        font-size: 20px;
    }
    .footer_titulo {
        font-size: 24px;
    }
}